.riotSlider {
  background-color: #eee;
}

.riotSlider .slide {
  display: none;
  text-align: center;
}

.riotSlider,
.riotSlider .slideList,
.riotSlider .slide:first-child {
  display: block;
}

.riotSlider.isLoaded {
  width: 100%;
  background-color: #f00;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.riotSlider.isLoaded .slidesOuter {
  width: 100%;
  background-color: #0f0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.riotSlider.isLoaded .slidesInner {
  background-color: #0f0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: table;
  transition: 1s;
}
.riotSlider.isLoaded .slideList {
  background-color: #00f;
  display: table-row;
}

.riotSlider.isLoaded .slide {
  display: table-cell;
  border: 15px solid #f00;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.riotSlider.isLoaded .slide > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
